* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 40px;
    text-align: center;
}

.login-form h1 {
    color: rgb(0, 0, 0);
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Billabong', sans-serif;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form input::placeholder {
    color: #999;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #0095f6;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #007bb5;
}

.forgot-password {
    color: #385185;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
}

.or-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.or-divider span {
    flex: 1;
    height: 1px;
    background-color: #ddd;
}

.or-divider span::before,
.or-divider span::after {
    content: "OR";
    color: #999;
    background-color: #000;
    padding: 0 10px;
    position: relative;
    top: -11px;
}

.facebook-login {
    background-color: #385185;
    color: white;
}

.facebook-login:hover {
    background-color: #2e416d;
}
#cadastro {
    font-size: x-small;
    color: #0095f6;
    text-decoration: underline;
}